bidict==0.22.1
certifi==2022.12.7
idna==2.10
numpy==1.24.2
pyjsparser==2.7.1
PyJWT==2.6.0
python-dateutil==2.8.2
python-dotenv
requests
six==1.16.0
urllib3==1.26.14
websocket-client
websockets
pandas
asyncio
